*, *::before, *::after{
    margin: 0;
    padding : 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box
}

#root {
    display: flex;
    justify-content: center;   
}

#root > div {
    border-left: 1px solid;
    border-right: 1px solid;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cancel {
    margin-left: auto;
    margin-top: -1rem;
}

.overlay {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.submit {
    background-color: cornflowerblue;
    align-self: center;
    min-width: 90%


}


aside, h1 {
    text-align: center;
}

aside div, header div, main div{
    display: flex
}

button{
    align-self: flex-start;
    background-color: white;
    border: none;
    box-shadow: none;
    cursor: pointer;
}


dd, dt {
    margin-top: 1rem;
    background-color: aliceblue;
}

div{
    min-width: min(80vw, 500px);
}

dt > div, dd > div {
    max-width: 500px
}

form {
    border-top: 1px solid;
    border-left: 1px solid;
    padding-top: 1rem;
    border-top-left-radius: 1rem;
    min-width: min(80vw, 500px);;
    position: absolute;
    top: 25vh;
    bottom: 25vh;
    background-color: white;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}



h1 ,h2, p {
    white-space: pre-wrap;
    flex-grow: 1;
}


main > div {
    border-top: 1px solid;
    border-left: 1px solid;
    padding-top: 1rem;
    border-top-left-radius: 1rem;
}

main > div > button {
    align-self: stretch;
    margin-left: 0.5rem;
}


textarea {
    font-size: larger;
    flex-grow: 0.5;
    width: 90%;
    resize: none;
    background-color: aliceblue;
    border-radius: 10px;

}





