*, *::before, *::after{
    margin: 0;
    padding : 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box
}

#root {
    display: flex;
    justify-content: center;   
}

#root > div {
    border-left: 1px solid;
    border-right: 1px solid;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cancel {
    position: absolute;
    right: 0
}

.overlay {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.submit {
    position:absolute;
    bottom: 20%

}


aside, h1 {
    text-align: center;
}

aside div, header div, main div{
    display: flex
}

button{
    align-self: flex-start;
    background-color: white;
    border: none;
    box-shadow: none;
}


dd, dt {
    margin-top: 1rem;
    background-color: aquamarine;
}

div{
    min-width: min(100vw, 500px);
}

form {
    position: absolute;
    bottom: 25vh;
    right: 25vw;
    border: 1px solid blue;
    z-index: 20;
    top: 0;
    left: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



h1 ,h2, p {
    white-space: pre-wrap;
    flex-grow: 1;
}


main > div {
    border-top: 1px solid;
    border-left: 1px solid;
    padding-top: 1rem;
    border-top-left-radius: 1rem;
}

main > div > button {
    align-self: stretch;
    margin-left: 0.5rem;
}








