*, *::before, *::after{
    margin: 0;
    padding : 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box
}

#root {
    display: flex;
    justify-content: center;   
}

#root > div {
    background-color: #EBEAE3;
    border-left: 1px solid;
    border-right: 1px solid;
    color: #FA2742;
    fill:  #FA2742;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cancel {
    color: #FA2742;
    font-size: large;
    font-weight: bold;
    margin-left: auto;
    margin-top: -1rem;
    padding: 1rem;
    
    
}

.overlay {
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.7;

    position: fixed;
    left: 0;
    top: 0;
    
}

.submit {
    align-self: center;
    background-color: white;
    border-radius: 10px;
    color: #FA2742;
    font-size: large;
    font-weight: bold;
    min-width: 90%;
    padding: 1rem;


}


aside, h1 {
    text-align: center;
}

aside div, header div, main div{
    display: flex
}

button{
    align-self: flex-start;
    background-color: inherit;
    border: none;
    box-shadow: none;
    cursor: pointer;
}


dd, dt {
    margin-top: 1rem;
    
}

div{
    min-width: min(80vw, 500px);
}

dt > div, dd > div {
    max-width: 500px
}

form {
    background-color: #EBEAE3;
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    min-width: min(80vw, 500px);
    padding-top: 1rem;

    position: absolute;
    bottom: 25vh;
    top: 25vh;
    
    z-index: 20;
   
}


h1 ,h2, p {
    flex-grow: 1;
    white-space: pre-wrap;
    word-break: break-all;
    
}



main > div {
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 1rem;
    padding-top: 1rem;
    
}

main > div > button {
    align-self: stretch;
    margin-left: 0.5rem;
}


textarea {
    background-color: #373833;
    border-radius: 10px;
    color: white;
    flex-grow: 0.5;
    font-size: larger;
    resize: none;
    width: 90%;
    
}

textarea:focus {
    border: 1px solid #FA2742;
    box-shadow: 0 0 10px #FA2742;
    outline: none !important;
}





